# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.db

# Node
node_modules/
dist/
.DS_Store

# Env
.env
*.env.local

# IDE
.idea/
.vscode/
*.iml

# Docker
*.log

# Local only
STRUCTURE.md
HANDOFF.md
